@model QLTS.Models.CategoryModel
@{
    ViewBag.Title = "GridViewDetailsPage";
    Layout = "~/Views/Shared/_LayoutDevexpress.cshtml";
}
<div class="text-content">
    <h1 class="title" id="SubjectText"></h1>
    <p>Issue #</p>
    <hr />
    <p>This is the GridView details page.</p>
</div>

