@model QLTS.Models.AssetModel
@{
    ViewBag.Title = "GridViewDetailsPage";
    Layout = "~/Views/Shared/_LayoutDevexpress.cshtml";
}

<div class="text-content">
    <h1 class="title" id="SubjectText">@Model.Name</h1>
    <p>Khu vực/Toà nhà #@Model.Id</p>
    <hr />
    <p>This is the GridView details page.</p>
</div>

