@model QLTS.Models.StaffModel

@{
    ViewBag.Title = "GridView Details Page";
    Layout = "~/Views/Shared/_LayoutDevExpress.cshtml";
}

<div class="text-content">
    <h1 class="title" id="SubjectText"></h1>
    <p></p>
    <hr />
    <p>This is the GridView details page.</p>
</div>
